{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load asset_tags %}
<header class="flex justify-between items-center p-4">
  <a href="/" target="_self" rel="noopener noreferrer" class="flex items-center">
    <div class="hidden lg:block md:hidden sm:hidden ">
      <img src="{% public_assets 'images/datahelix.webp' %}" class="h-14" />
    </div>
    <div class="block sm:block md:hidden lg:hidden ">
      <img src="{% public_assets 'images/datahelix.webp' %}" class="h-6 ml-2" />
    </div>
  </a>
  <p class="flex items-center space-x-2">


    <span class="text-sm hidden lg:block md:hidden sm:hidden ">Don't have an account?</span>

    <a href="{% url 'user:register' %}" target="_self" rel="noopener noreferrer"
      class="text-blue-600 hover:underline">Sign Up</a>
  </p>
</header>

<div class="flex flex-wrap">
  <!-- Left section: Login form -->
  <div class="w-full md:w-1/2 bg-[#eff2f8] p-4">
    {% if messages %}
    <div class="bg-red-100 border-1 border-red-500 text-red-700 p-4 mb-10">
      {% for message in messages %}
      <p class="font-semibold md:text-xl">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="max-w-md mx-auto bg-white p-6 rounded-2xl md:my-32">
      <h3 class="text-3xl font-semibold mb-4 text-[#27266a]">Log in to your account</h3>
      <p class="mb-6"></p>
      <form id="login-form" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label for="email" class="block text-lg text-[#a8cf39]">Email<span class="text-red-500">*</span></label>
          <input type="email" id="email" name="email" required placeholder="Enter your email address"
            autocomplete="none"
            class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
        </div>

        <div class="mb-6">
          <label for="password" class="block text-lg text-[#a8cf39]">Password<span class="text-red-500">*</span></label>
          <input type="password" id="password" name="password" required placeholder="Enter your password"
            autocomplete="none"
            class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div class="text-left mt-4">
          <a href="{% url 'user:password_reset' %}" class="text-[#a8cf39] hover:underline" target="_blank">Forgot
            Password?</a>
        </div>

        <button type="submit"
          class="w-full py-3 text-white mt-5 bg-[#db245f] rounded-lg hover:bg-[#830e57] font-bold">Log In</button>
      </form>

      <hr class="my-6">
    </div>
  </div>


  <div class="box w-full md:w-1/2 hidden md:block">
    <img src="{% public_assets 'images/dna1.jpg' %}" alt="DNA Background" class="w-full h-full object-cover">
  </div>
</div>










{% endblock %}