{% extends '../../base.html' %}

{% load static %}
{% load asset_tags %}



{% block content %}
{% include 'components/navbar/version_2.html' %} 
<h2 class="text-primary pt-10 text-center lg:text-5xl md:text-5xl text-3xl font-bold pb-5">Apply as an Intern</h2>
<div class="flex justify-center ">
    <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
</div>
<div class="flex flex-col justify-center items-center bg-gray-100 pt-10">
    <div class="max-w-xl text-center text-xl p-2 pb-10">
        We welcome interns with science and engineering education to participate in our genomics and computation journey.
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="bg-primary p-4 rounded-md mb-2">  <h2 class="text-lg font-bold text-white"> {{message}}</h2></div>
  {% endfor %}
    {%endif %}
    <form method="post"
          enctype="multipart/form-data"
          class="mb-10 max-w-md mx-auto bg-gray-200 rounded-lg shadow-md px-6 py-4 space-y-4">
        {% csrf_token %}
        {% if form.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                 role="alert">
                <strong class="font-bold">Oops!</strong>
                <span class="block sm:inline">There were some errors in your submission. Please correct them:</span>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}<li>{{ field|title }}: {{ error }}</li>{% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div>
            <label for="id_first_name" class="block font-semibold text-primary">First Name</label>
            <input type="text"
                   id="id_first_name"
                   name="first_name"
                   class="form-input mt-1 mb-1 p-2 block w-full border-gray-300 rounded-md -primary focus:border-primary"
                   required>
        </div>
        <div>
            <label for="id_last_name" class="block font-semibold text-primary">Last Name</label>
            <input type="text"
                   id="id_last_name"
                   name="last_name"
                   class="form-input mt-1 mb-1 p-2 block w-full border-gray-300 rounded-md -primary focus:border-primary"
                   required>
        </div>
        <div>
            <label for="id_email" class="block font-semibold text-primary">Email</label>
            <input type="email"
                   id="id_email"
                   name="email"
                   class="form-input mt-1 mb-1 p-2 block w-full border-gray-300 rounded-md -primary focus:border-primary"
                   required>
        </div>
        <div>
            <label for="id_phone_number" class="block font-semibold text-primary">Phone Number</label>
            <input type="tel"
                   id="id_phone_number"
                   name="phone"
                   class="form-input mt-1 mb-1 p-2 block w-full border-gray-300 rounded-md -primary focus:border-primary"
                   pattern="[0-9]{10}"
                   title="Phone number must be 10 digits"
                   required>
        </div>
        <div>
            <label for="id_education" class="block font-semibold text-primary">Education</label>
            <input type="text"
                   id="id_education"
                   name="education"
                   class="form-input mt-1 mb-1 p-2 block w-full border-gray-300 rounded-md -primary focus:border-primary"
                   required>
        </div>
        <div>
            <label for="id_stream" class="block font-semibold text-primary ">Stream</label>
            <select id="id_stream"
                    name="stream"
                    class="form-select mt-1 block w-full p-2"
                    required>
                <option value="" disabled selected>Select Stream</option>
                <option value="science">Science</option>
                <option value="technology">Technology</option>
                <option value="marketing">Marketing</option>
            </select>
        </div>
        <div>
            <label for="id_resume" class="block font-semibold text-primary">Resume (PDF only)</label>
            <input type="file"
                   id="id_resume"
                   name="resume"
                   class="form-input mt-1 block w-full rounded-lg"
                   accept="application/pdf"
                   required>
        </div>
        <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Submit</button>
    </form>
</div>


{% include 'components/footer/version_2.html' %} 


  
{% endblock content %}
