{% load static %}
{% load asset_tags %}
<div class="bg-gray-100 mt-10">

    <h2 class="text-primary bg-gray-100 pt-10 text-center text-5xl font-bold mb-5">LEADERSHIP</h2>
    <div class="flex justify-center bg-gray-100">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>


</div>
<div class="bg-gray-100 flex justify-center flex-wrap pt-10 pb-10 ">

    <div class="text-center pt-16 mt-10 lg:w-full w-96 md:w-6/12 lg:max-w-[500px] p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Ravi.jpg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold">Ravi Shroff</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Co-Founder & Managing Partner</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">


            </div>
        </div>
    </div>
    <div class="text-center pt-16 mt-10 lg:w-full w-96 md:w-6/12 lg:max-w-[500px] p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden grayscale shadow-lg"
                    src=" {% static 'aa.png' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Gautam Das</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Co-Founder & Chief Executive Officer</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
    {% comment %} <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Nandini.jpg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Dr. Nandini Dasgupta</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Head, Science Team</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div> {% endcomment %}
</div>
{% comment %} <h3 class="bg-gray-100 p-8 text-3xl text-primary font-semibold text-center pb-0">SCIENTISTS</h3>
<div class="bg-gray-100 flex justify-center flex-wrap w-auto pt-10 pb-10 ">
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Alka.jpg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Dr. Alka Srivastava</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Senior Computational Biologist</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Amrita.jpeg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Amrita Rao</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Clinical NGS Specialist</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Vrishali.jpg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Vrishali Murugkar</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Microbiologist & Nanopore Specialist</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Chandrasekhar.jpg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Dr. Chandrasekhar Arigela</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>NGS & RTPCR Specialist</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
</div>
<h3 class="bg-gray-100 p-8 text-3xl text-primary font-semibold text-center pb-0">TECH TEAM</h3>
<div class=" bg-gray-100 flex justify-center flex-wrap w-auto pt-10 pb-10 ">



    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Akib.jpeg' %}" alt="">


            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Akib Kamani</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Sr. Software Developer</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>



</div>
<h3 class="bg-gray-100 p-8 text-3xl text-primary font-semibold text-center pb-0">BUSINESS & SALES</h3>
<div class="bg-gray-100 flex justify-center flex-wrap w-auto pt-10 pb-10 ">
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">

                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Sachin.png' %}" alt="">

            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Sachin Parikh</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Business Strategist</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
    <div class="text-center pt-16 mt-10 lg:w-4/12 w-96 md:w-6/12 p-5">
        <div class="card bg-base-100 shadow-xl relative overflow-visible ">
            <figure
                class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">

                <img class="w-full h-full object-cover rounded-full hover:rounded-lg overflow-hidden shadow-lg"
                    src=" {% public_assets 'images/team/Javed.jpg' %}" alt="">

            </figure>
            <div class="text-center justify-center flex pt-24 mt-5 items-center">
                <h2 class="text-2xl font-semibold mr-2">Mohammad Javed</h2>
            </div>
            <div class="justify-center flex items-center pt-2 pb-4 ">
                <p>Head - Sales</p>
                <img class="ml-2 w-[20px] h-[20px]" src=" {% public_assets 'images/svg/linkedin.svg' %}"
                    alt="linkedin svg">

            </div>
        </div>
    </div>
</div> {% endcomment %}