{% extends '../../base.html' %}

{% load static %}
{% load asset_tags %}


{% block content %}

{% include 'components/navbar/version_2.html' %} 






<h2 class="text-primary text-center text-5xl font-bold pb-5">Research Achievements</h2>
<div class="bg-gradient-to-t from-base-100 to-neutral-100">
    <div class="flex justify-center pb-8">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    


<div class="lg:pl-24 lg:pr-24 flex flex-wrap gap-4 mt-16 justify-center text-center">
    
        <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Functional Genome Analysis of a Conditionally Pathogenic Rhizobacterial Strain, Pseudomonas putida AKMP7</h2>
                <p>2024</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://link.springer.com/article/10.1007/s00284-024-03677-x">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>



            <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Harnessing the Gut Microbial Arm in Combating Obesity</h2>
                <p>2024</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://www.taylorfrancis.com/chapters/edit/10.1201/9781003361473-8/harnessing-gut-microbial-arm-combating-obesity-garima-suneja-janvi-shah-sanober-waghoo-rahul-shah-ravi-shroff-upasana-mangrolia-gautam-das?context=ubx&refId=c5b85f3a-9775-4abd-b475-dd18a96e4d0b">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>



<div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Next-Generation Sequencing Technology: Current Trends and Advancements</h2>
                <p>2023</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://www.mdpi.com/2079-7737/12/7/997">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>













         <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Genomics for All: Healthcare,
Pharmaceuticals and Beyond</h2>
                <p>2022</p>
                



   <div class="card-actions justify-center">

    <a
  href="{% static 'pdf/mibiome-crips-genomics-for-all-article.pdf' %}"
  target="_blank"
  class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
>
Learn More
</a>
                    
                </div> 

              

        
              
             
            </div>
        </div>



       






        <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">The Beneficial Role of
Healthy Microbiome in Metabolic Syndrome and Cardiovascular Health</h2>
                <p>2022</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://doi.org/10.1016/B978-0-12-822238-6.00003-0">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>







          <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Combining SARS-CoV-2 Proofreading Exonuclease and RNA-Dependent RNA Polymerase Inhibitors as a Strategy to Combat COVID-19: A High-Throughput in silico Screening</h2>
                <p>2021</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2021.647693/full">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>



        <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Microbiome
Diagnostics and Interventions in Health and Disease.</h2>
                <p>2021</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://doi.org/10.1007/978-981-16-3156-6_10">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>








       



    







         
   
</div>

{% comment %} <h2 class="text-primary text-center text-5xl font-bold pb-5">In Print</h2>
<div class="bg-gradient-to-t from-base-100 to-neutral-100">
    <div class="flex justify-center pb-8">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    


<div class="lg:pl-24 lg:pr-24 flex flex-wrap gap-4 mt-16 justify-center text-center">
    
        <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">
               
            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Springer Nature: Microbiome diagnostics and interventions in health and disease</h2>
                <p>2021</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>
   
</div> {% endcomment %}


</div>

{% comment %} 

<h2 class="text-primary text-center text-5xl font-bold pb-5">Manuscripts in Revision</h2>
<div class="bg-gradient-to-t from-base-100 to-neutral-100">
    <div class="flex justify-center pb-8">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    


<div class="lg:pl-24 lg:pr-24 flex flex-wrap gap-4 mt-16 justify-center text-center">

        
   
</div>


</div> {% endcomment %}



{% comment %} 

<h2 class="text-primary text-center text-5xl font-bold pb-5">Preprints</h2>
<div class="bg-gradient-to-t from-base-100 to-neutral-100">
    <div class="flex justify-center pb-8">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    


<div class="lg:pl-24 lg:pr-24 flex flex-wrap gap-4 mt-16 justify-center text-center">
   
        <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

            </figure>
            <div class="card-body mt-24">
                <h2 class="card-title items-center justify-center">Ribavirin-SARS Cov2 RNA-dependent RNA polymerase docking: Drug Repurposing</h2>
                <p>22 March 2020</p>
               
                <div class="card-actions justify-center">
                    <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                       href="https://osf.io/ax98f/">
                        Learn More
                    </a>
                </div>
             
            </div>
        </div>
   





    <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
        <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
            <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

        </figure>
        <div class="card-body mt-24">
            <h2 class="card-title items-center justify-center">Ivermectin- SARS Cov2 helicase molecular docking: Drug Repurposing</h2>
            <p>03 May 2020</p>
           
            <div class="card-actions justify-center">
                <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                   href="https://osf.io/8dseq/">
                    Learn More
                </a>
            </div>
         
        </div>
    </div>







    <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
        <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
            <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

        </figure>
        <div class="card-body mt-24">
            <h2 class="card-title items-center justify-center">Secondary co-infections in COVID using RNA-sequencing data: Patient genome-data analysis</h2>
            <p>11 April 2020</p>
           
            <div class="card-actions justify-center">
                <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                   href="https://osf.io/s48fv/">
                    Learn More
                </a>
            </div>
         
        </div>
    </div>





    <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
        <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
            <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

        </figure>
        <div class="card-body mt-24">
            <h2 class="card-title items-center justify-center">Protective role of BCG vaccine in COVID: a hypothesis</h2>
            <p>10 April 2020</p>
           
            <div class="card-actions justify-center">
                <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                   href="https://osf.io/f32pz/">
                    Learn More
                </a>
            </div>
         
        </div>
    </div>





    <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
        <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
            <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

        </figure>
        <div class="card-body mt-24">
            <h2 class="card-title items-center justify-center">Protective role of Vitamin D in COVID: a hypothesis</h2>
            <p>01 May 2020</p>
           
            <div class="card-actions justify-center">
                <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                   href="https://osf.io/dnjav/">
                    Learn More
                </a>
            </div>
         
        </div>
    </div>





    <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
        <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
            <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/manuscript.jpg' %}" alt="manuscript image">

        </figure>
        <div class="card-body mt-24">
            <h2 class="card-title items-center justify-center">Repurposing Niclosamide for COVID: suggested mechanisms</h2>
            <p>27 March 2020</p>
           
            <div class="card-actions justify-center">
                <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                   href="https://osf.io/jf3nz/">
                    Learn More
                </a>
            </div>
         
        </div>
    </div>



</div>
</div> {% endcomment %}




<h2  class="text-primary text-center text-5xl font-bold pb-5">Intellectual Property - Patent Applied</h2>
<div id="patent" class="bg-gradient-to-t from-base-100 scroll-mt-[300px] lg:scroll-mt-[180px] to-neutral-100">
    <div class="flex justify-center pb-8">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>



    <div class="lg:pl-24 lg:pr-24 flex flex-wrap gap-4 mt-16 justify-center text-center">
       
            <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
                <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                    <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/patents.jpg' %}" alt="patents image">

                </figure>
                <div class="card-body mt-24">
                    <h2 class="card-title items-center justify-center">Unique-regions SARS Cov2 sequencing and any infectious/other disease screening (Provisional Patent Application Number - 202021023223; miBiome)</h2>
                    <p></p>
                   
                    {% comment %} <div class="card-actions justify-center">
                        <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                           href="">
                            Learn More
                        </a>
                    </div> {% endcomment %}
                 
                </div>
            </div>



            <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
                <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                    <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/patents.jpg' %}" alt="patents image">

                </figure>
                <div class="card-body mt-24">
                    <h2 class="card-title items-center justify-center">Low-cost NGS for SARS Cov2 and any infectious/other disease screening (Provisional Patent Application Number - 202041030440; University of Hyderabad & miBiome)</h2>
                    <p></p>
                   
                    {% comment %} <div class="card-actions justify-center">
                        <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                           href="">
                            Learn More
                        </a>
                    </div> {% endcomment %}
                 
                </div>
            </div>

            




             <div class="card mb-24 mt-8 w-96 bg-base-100 shadow-xl ">
                <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                    <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg bg-base-100" src="{% public_assets 'images/patents.jpg' %}" alt="patents image">

                </figure>
                <div class="card-body mt-24">
                    <h2 class="card-title items-center justify-center">Composition and method for detection of multiple drug resistance in tuberculosis by
multiplex short-amplicon based targeted NGS (tNGS) using ribonucleotide bases in the primers to increase target specificity</h2>
                    <p></p>
                   
                    {% comment %} <div class="card-actions justify-center">
                        <a class="btn btn-primary rounded-full bg-base-100 hover:bg-primary hover:text-base-100 hover:2xl text-accent"
                           href="">
                            Learn More
                        </a>
                    </div> {% endcomment %}
                 
                </div>
            </div>
        
    </div>

</div>

{% include 'components/footer/version_2.html' %} 
{% endblock content %}