{% extends '../../base.html' %}

{% load static %}
{% load asset_tags %}


{% block content %}

{% include 'components/navbar/version_2.html' %}



<section class="px-4 py-12 bg-white text-gray-800">
  <div class="max-w-4xl mx-auto">

    <h2 class="text-3xl sm:text-5xl font-bold text-center mb-3 text-[#a61766]">
      Research Areas
    </h2>
    <div class="flex justify-center pb-8">
      <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    <p class="text-lg sm:text-xl text-center max-w-3xl mx-auto mb-12 text-[#27276c]">
      We explore the frontiers of healthcare and biology by unlocking the power of genomics. With a focus on innovation
      and impact, our research is driving a future where diagnostics are faster, more accurate, and accessible to all,
      enabling truly personalized care.
    </p>


    <div class="mb-14">
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Infectious Diseases
      </h3>
      <p class="text-base text-gray-700 mb-6">
        We offer rapid and highly accurate NGS-based diagnostic products for infectious diseases. Our solutions support
        early detection, resistance profiling, and public health surveillance.
      </p>


      <div class="bg-[#fdf0f7] p-6 rounded-xl shadow-sm border border-[#a61766]/30 mb-6">
        <h4 class="text-xl font-semibold text-[#a61766] mb-3">Tuberculosis (Targeted NGS)</h4>
        <p class="text-gray-700 text-base mb-4">
          Our targeted NGS-based TB test enables ultra-sensitive detection of Mycobacterium tuberculosis and
          drug-resistance mutations. It supports timely, accurate, and personalised treatment decisions. </p>
        <a href="mailto:datahelixai@mibiome.com"
          class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
          Collaborate with us
        </a>
      </div>


      <div class="bg-[#f4f4fc] p-6 rounded-xl shadow-sm border border-[#27276c]/30">
        <h4 class="text-xl font-semibold text-[#27276c] mb-3">Human Papillomavirus (HPV)</h4>
        <p class="text-gray-700 text-base mb-4">
          We offer an advanced NGS assay for detecting and genotyping high risk HPV strains. It provides greater
          sensitivity than conventional methods and supports early cervical cancer prevention.
        </p>
        <a href="mailto:datahelixai@mibiome.com"
          class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
          Collaborate with us
        </a>
      </div>
    </div>


    <div class="mb-14">
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Oncology
      </h3>
      <p class="text-base text-gray-700 mb-6">
        We have developed innovative NGS-based tools in oncology to enable precision diagnostics and monitor treatment
        response with high accuracy and low invasiveness.
      </p>


      <div class="bg-[#fdf0f7] p-6 rounded-xl shadow-sm border border-[#a61766]/30 mb-6">
        <h4 class="text-xl font-semibold text-[#a61766] mb-3">Multiomics</h4>
        <p class="text-gray-700 text-base mb-4">
          Our oncology platforms integrate genomic, transcriptomic, and epigenomic signals to detect cancer signatures
          and guide therapy selection with high precision.
        </p>
        <a href="mailto:datahelixai@mibiome.com"
          class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
          Collaborate with us
        </a>
      </div>


      <div class="bg-[#f4f4fc] p-6 rounded-xl shadow-sm border border-[#27276c]/30">
        <h4 class="text-xl font-semibold text-[#27276c] mb-3">Liquid Biopsy</h4>
        <p class="text-gray-700 text-base mb-4">
          We offer a liquid biopsy based approach for monitoring tumor burden, resistance, and recurrence using
          circulating tumor DNA (ctDNA) all from a simple blood sample.
        </p>
        <a href="mailto:datahelixai@mibiome.com"
          class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
          Collaborate with us
        </a>
      </div>
    </div>


    <div class="mb-14">
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Onco-Microbiome
      </h3>
      <p class="text-base text-gray-700 mb-6">
        The Onco-Microbiome refers to the complex relationship between the human microbiome (the trillions of microbes
        living in and on the body) and cancer development, progression, and treatment outcomes.
      </p>
      <a href="mailto:datahelixai@mibiome.com"
        class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
        Collaborate with us
      </a>
    </div>


    <div class="mb-14">
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Transplant Genomics
      </h3>
      <p class="text-base text-gray-700 mb-6">
        Transplant Genomics is the use of advanced genomic technologies to monitor, predict, and improve outcomes after
        organ or stem cell transplantation. It focuses on identifying genetic and molecular changes that signal how the
        body is responding to a transplant particularly to detect graft rejection, immune complications, or relapse
        early and accurately.


      </p>
      <a href="mailto:datahelixai@mibiome.com"
        class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
        Collaborate with us
      </a>

    </div>


    <div class="mb-14">
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Familial Cholesterolemia
      </h3>
      <p class="text-base text-gray-700 mb-6">
        Familial Hypercholesterolemia (FH) is a genetic disorder that causes very high levels of LDL cholesterol ("bad
        cholesterol") in the blood from an early age. If left undiagnosed or untreated, it significantly increases the
        risk of early heart disease, including heart attacks, even in young adults or children.


      </p>
      <a href="mailto:datahelixai@mibiome.com"
        class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
        Collaborate with us
      </a>

    </div>

    <div>
      <h3 class="text-2xl font-semibold text-[#96c83c] mb-4 border-b border-[#96c83c] pb-2">
        Rare Diseases
      </h3>
      <p class="text-base text-gray-700 mb-6">
        Rare diseases (also known as orphan diseases) are medical conditions that affect a small percentage of the
        population, often fewer than 1 in 2,000 people. Though each rare disease is uncommon, there are over 7,000 known
        rare diseases, collectively affecting millions of people worldwide.
      </p>
      <a href="mailto:datahelixai@mibiome.com"
        class="inline-block px-5 py-2 bg-[#a61766] text-white rounded hover:bg-[#83114e] transition">
        Collaborate with us
      </a>

    </div>
  </div>
</section>




{% include 'components/footer/version_2.html' %}
{% endblock content %}