<section class="bg-gray-100 py-16 pb-50">

    <h2 class="text-primary text-center text-5xl font-bold mb-5">Who We Are</h2>
    <div class="flex justify-center">
        <div class="line bg-primary h-1 w-10 transition-all hover:w-full"></div>
    </div>
    <div class="max-w-[1030px] mx-auto px-4 flex flex-wrap items-center justify-center">
        <div class="w-full text-center  ">
            <p class="pt-5 text-lg text-gray-800 leading-relaxed">
                <span class="text-primary font-semibold hover:text-primary-dark transition-colors">We are an advanced
                    science and deep tech start-up</span> comprising of a passionate group of experienced scientists,
                doctors, business professionals and young coders. We share a vision of making genomics-based services
                available to all by making it cheaper, better and faster.

            </p>
            <p class="pt-5 text-lg text-gray-800 leading-relaxed">We are unlocking the power of genomics through
                deep technology in every sector.We come to work everyday to facilitate <span
                    class="text-primary font-semibold hover:text-primary-dark transition-colors">#GenomicsForAll</span>
                and decode life.</p>
        </div>
    </div>
</section>