{% load static %}
{% load asset_tags %}

<section class="bg-gray-100 py-20 px-4 md:px-6">
  <div class=" max-w-[1010px] mx-auto rounded-3xl overflow-hidden shadow-2xl grid grid-cols-1 ">

 
    <div class="bg-[#27276c]  text-white flex flex-col items-center justify-center p-4 md:p-10 space-y-6">
      <img src="{% public_assets 'images/datahelix.webp' %}" alt="miBiome logo" class="w-[228px] h-[128px]    p-4 rounded-2xl" loading="lazy" />
      <h2 class="text-3xl md:text-4xl font-bold text-center">Who We Are</h2>
      <div class="h-1 w-10 bg-[#96c83c] rounded transition-all hover:w-28"></div>
      <p class="text-center text-sm opacity-80">
        Pioneering the next generation of genomics through science, code, and compassion.
      </p>
    </div>

    <div class="bg-white p-4 md:p-10 space-y-6">
      <p class="text-gray-800 text-lg leading-relaxed">
        <span class="text-[#a61766] font-semibold">We are more than just a company;</span> we're a collective of visionary minds driven by a singular purpose. Comprised of seasoned scientists, medical professionals, business leaders, and innovative coders, our team is united by a shared passion for advancing the frontiers of science and technology.
      </p>
      <p class="text-gray-800 text-lg leading-relaxed">
        <span class="text-[#a61766] font-semibold">At DataHelix<sup>TM</sup> AI,</span> we stand at the forefront of innovation in genomics. With a relentless pursuit of excellence, we're pioneering the next generation of genetic solutions, making breakthroughs that redefine what's possible.
        <span class="inline-block relative">
          <strong class="text-[#27276c]">DataHelix<sup>TM</sup> AI,</strong>
          <span class="absolute bottom-0 left-0 w-full h-1 bg-[#a61766] border-dashed border-b-2 border-[#a61766]"></span>
        </span>
      </p>
      <p class="text-gray-800 text-lg leading-relaxed">
        <span class="text-[#a61766] font-semibold">Our mission is clear:</span> to democratize genomics for everyone. By revolutionizing accessibility, quality, and speed, we are reshaping the landscape of genetic research and application.
      </p>
      <p class="text-gray-800 text-lg leading-relaxed">
        <span class="text-[#a61766] font-semibold">Every day,</span> we embark on this journey with unwavering dedication, striving to realize our vision of
        <span class="text-[#a61766] font-semibold">#GenomicsForAll.</span> Together, we decode the intricacies of life, paving the way for a brighter, healthier future.
      </p>
    </div>
  </div>
</section>
