
{% load asset_tags %}


<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
 
    <li>
      <div class="timeline-middle">
        <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">

        
      </div>
      <div class="timeline-start text-start md:text-end mb-10">
        <time class="font-mono italic">23 May 2015</time>
        <div class="text-lg font-black">The Big Bang</div>
        A co-incidental meeting over a dinner between an industrialist and a scientist, who later become Founders.
      </div>
      <hr />
    </li>
  
  
    <li>
      <div class="timeline-middle">
       <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">14 October 2019</time>
        <div class="text-lg font-black">First Sunrise</div>
        Formation of miBiome Therapeutics start-up with a mission to democratize #GenomicsForAll
      </div>
      <hr />
    </li>
  
  
  
  
  
    <li>
      <div class="timeline-middle">
       <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">
      </div>
      <div class="timeline-start text-start md:text-end mb-10">
        <time class="font-mono italic">6 August 2020</time>
        <div class="text-lg font-black">The Day we Settled</div>
        A state-of-the-art Next-Generation Sequencing laboratory in the heart of Mumbai
      </div>
      <hr />
    </li>
  
  
  
    <li>
      <div class="timeline-middle">
       <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">25 December 2020</time>
        <div class="text-lg font-black">When our civilization flourished</div>
        We grew to an experienced team of 12 people from top institutions globally
      </div>
      <hr />
    </li>
  
  
    <li>
      <div class="timeline-middle">
       <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">
      </div>
      <div class="timeline-start text-start md:text-end mb-10">
        <time class="font-mono italic">January 2021</time>
        <div class="text-lg font-black">The Evolution</div>
        Multiple Innovative products in development
      </div>
      <hr />
    </li>
  
  
    <li>
      <div class="timeline-middle">
       <img class="h-5 w-5" src=" {% public_assets 'images/svg/tickmark.svg' %}" alt="tickmark svg">
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">March 2021</time>
        <div class="text-lg font-black">Our First Harvest</div>
        700 GB of genomic data generated and 500 samples processed
      </div>
      <hr />
    </li>
  
  </ul>
  