{% load static %}
{% load asset_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
       DataHelix™ AI
        {% endblock title %}
    </title>
    <link rel="icon"
                  type="image/png"
                  href="{% public_assets 'favicon/favicon-96x96.png' %}"
                  sizes="96x96" />
            <link rel="icon"
                  type="image/svg+xml"
                  href="{% public_assets 'favicon/favicon.svg' %}" />
            <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
            <link rel="apple-touch-icon"
                  sizes="180x180"
                  href="{% static 'favicon/apple-touch-icon.png' %}" />
            <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-white font-poppins ">
    {% include 'components/navbar/version_2.html' %}
    {% block content %}{% endblock %}
    {% include 'components/footer/version_2.html' %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "02b6d8c83bb540579fecde76dede2e27"}'>
        </script>
</body>

</html>