{% load static %}
{% load asset_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        miBiome Therapeutics
        {% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% public_assets 'images/logo.png' %}" type="image/x-icon">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-white font-poppins ">
    {% block content %}{% endblock %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "02b6d8c83bb540579fecde76dede2e27"}'>
        </script>
</body>

</html>