{% load static %}
{% load asset_tags %}
<div class="bg-gray-100 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pt-10 pb-10 ">

    <div class="text-center m-2  pt-20  ">
        <div class="card w-auto bg-base-100 shadow-xl relative overflow-visible ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg" src=" {% public_assets 'images/vellore.jpg' %}" alt="vellore logo">
                
            </figure>
            <h2 class="text-2xl font-semibold pt-24 mt-5">Dr. E. Nalini</h2>
            <div class="p-5 text-justify ">
                <p>miBiome team is highly professional in understanding our scientific needs in analyzing the transcriptomics data. They stick to their prescribed deadlines and are cooperative in solving our concerns related to understanding and presenting the analyzed data to the scientific community. My good wishes for the team to grow big in this omics field.</p>
                <div class="card-actions"></div>
            </div>
        </div>
    </div>

    <div class="text-center m-2  pt-20  ">
        <div class="card w-auto bg-base-100 shadow-xl relative overflow-visible ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg" src=" {% public_assets 'images/rcgb.jpg' %}" alt="rgcb logo">
                
            </figure>
            <h2 class="text-2xl font-semibold pt-24 mt-5">Dr. Krishna Kurthkoti</h2>
            <div class="p-5 text-justify ">
                <p>We had a great experience working with miBiome. We have performed whole-genome and RNA-seq projects involving mycobacterial samples (both NGS and bioinformatic analysis). The miBiome team was very professional and kept us up to date with the progress of the workflow from sample pickup to final results.</p>
                <div class="card-actions"></div>
            </div>
        </div>
    </div>

    <div class="text-center m-2  pt-20  ">
        <div class="card w-auto bg-base-100 shadow-xl relative overflow-visible ">
            <figure class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 rounded-full overflow-visible">
                <img class="w-full h-full object-cover rounded-full overflow-hidden shadow-lg" src=" {% public_assets 'images/iiser_logo.jpg' %}" alt="iiser logo">
                
            </figure>
            <h2 class="text-2xl font-semibold pt-24 mt-5">Dr. N. Sadananda Singh</h2>
            <div class="p-5 text-justify ">
                <p>Working with miBiome has been very helpful to us. The greatest advantage to work with miBiome is the customizability of our needs. Some of the sequencing needs were not regular exome or genome sequencing and many service companies in India declined to perform them. However, miBiome listened to us and the sequencing is in progress.</p>
                <div class="card-actions"></div>
            </div>
        </div>
    </div>

</div>
