{% load static %}
{% load asset_tags %}


<div class="bg-white  flex flex-col  gap-10 justify-center items-center pt-10 px-4 pb-10">

    <!-- <div class="card w-auto bg-base-100 drop-shadow-2xl">
        <figure>

            <img class="object-cover w-24 h-24" src="{% public_assets 'images/dnareading.png'   %}"
                alt="dna_reading image">


        </figure>
       
        <div class="card-body">
            <h2 class="card-title">DNA Reading</h2>
            <p>Our team of Next-Generation Sequencing (NGS) experts are always there to sequence DNA to understand life,
                disease, environment and more.</p>
            <div class="card-actions justify-end">
                <a class="btn btn-primary text-base-100"
                    href="https://wa.me/919650231515?text=Hello%20I%20came%20across%20your%20website%20and%20I%20want%20to%20know%20about%20">
                    Chat with us
                    <img class="w-[20px] h-[20px] " src=" {% public_assets 'images/svg/whatsapp.svg' %}"
                        alt="whatsapp svg">


                </a>
            </div>
        </div>
    </div>  -->



    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/scientificconsulting.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Scientific Consulting</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                Our team of highly qualified PhD experts can help guide your genomics or sequencing journey from
                experiment design to data interpretation and publication ready insights.
            </p>


            <div class="mt-6">
                <a href="mailto:datahelixai@mibiome.com"
                    class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                    Email Us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>







    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/1.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Infectious Diseases</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                We offer rapid and highly accurate NGS based diagnostic products for infectious diseases. Our solutions
                support early detection, resistance profiling, and public health surveillance.
            </p>


            <div class="mt-6 flex flex-col md:flex-row gap-4">
                <div class="p-3 bg-[#fdf0f7]  rounded-xl shadow-sm border border-[#a61766]/30 ">
                    <h4 class="text-lg font-semibold text-[#a61766] mb-3">Tuberculosis (Targeted NGS)</h4><a
                        href="mailto:datahelixai@mibiome.com"
                        class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                        Collaborate with us
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                            viewBox="0 0 512 512">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                    </a>
                </div>
                <div class="p-3 bg-[#fdf0f7]  rounded-xl shadow-sm border border-[#a61766]/30">
                    <h4 class="text-lg font-semibold text-[#a61766] mb-3">Human Papillomavirus (HPV)</h4><a
                        href="mailto:datahelixai@mibiome.com"
                        class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                        Collaborate with us
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                            viewBox="0 0 512 512">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

    </div>






    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/2.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Oncology</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                We have developed innovative NGS based tools in oncology to enable precision diagnostics and monitor
                treatment response with high accuracy and low invasiveness.
            </p>


            <div class="mt-6 flex flex-col  md:flex-row gap-4 ">
                <div class="p-3 bg-[#fdf0f7]  rounded-xl shadow-sm border border-[#a61766]/30 ">
                    <h4 class="text-lg font-semibold text-[#a61766] mb-3">Multiomics</h4><a
                        href="mailto:datahelixai@mibiome.com"
                        class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                        Collaborate with us
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                            viewBox="0 0 512 512">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                    </a>
                </div>
                <div class="p-3 bg-[#fdf0f7]  rounded-xl shadow-sm border border-[#a61766]/30">
                    <h4 class="text-lg font-semibold text-[#a61766] mb-3">Liquid Biopsy</h4><a
                        href="mailto:datahelixai@mibiome.com"
                        class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                        Collaborate with us
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                            viewBox="0 0 512 512">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

    </div>




    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/3.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Onco-Microbiome</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                The Onco-Microbiome refers to the complex relationship between the human microbiome (the trillions of
                microbes living in and on the body) and cancer development, progression, and treatment outcomes.
            </p>


            <div class="mt-6">
                <a href="mailto:datahelixai@mibiome.com"
                    class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                    Collaborate with us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>




    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/4.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Transplant Genomics</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                Transplant Genomics is the use of advanced genomic technologies to monitor, predict, and improve
                outcomes after organ or stem cell transplantation. It focuses on identifying genetic and molecular
                changes that signal how the body is responding to a transplant particularly to detect graft rejection,
                immune complications, or relapse early and accurately.
            </p>


            <div class="mt-6">
                <a href="mailto:datahelixai@mibiome.com"
                    class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                    Collaborate with us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>




    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/5.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Familial Cholesterolemia</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                Familial Hypercholesterolemia (FH) is a genetic disorder that causes very high levels of LDL cholesterol
                ("bad cholesterol") in the blood from an early age. If left undiagnosed or untreated, it significantly
                increases the risk of early heart disease, including heart attacks, even in young adults or children.
            </p>


            <div class="mt-6">
                <a href="mailto:datahelixai@mibiome.com"
                    class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                    Collaborate with us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>





    <div
        class="flex flex-col md:flex-row items-center bg-white drop-shadow-2xl rounded-3xl overflow-hidden  p-4 md:p-8 gap-8 w-full max-w-[1010px] mx-auto transition-transform hover:scale-[1.01] duration-300 min-h-[300px] md:min-h-[360px]">


        <div class="flex-shrink-0 bg-[#a61766] rounded-full p-6 md:ml-4 w-36 h-36 flex items-center justify-center">
            <img src="{% public_assets 'images/6.png' %}" alt="Scientific Consulting"
                class="w-20 h-20 object-contain" />
        </div>


        <div class="flex flex-col justify-center text-left md:pl-6 flex-1">
            <h3 class="text-3xl font-bold text-[#a61766] mb-4">Rare Diseases</h3>
            <p class="text-gray-700 text-lg leading-relaxed max-w-2xl">
                Rare diseases (also known as orphan diseases) are medical conditions that affect a small percentage of
                the population, often fewer than 1 in 2,000 people. Though each rare disease is uncommon, there are over
                7,000 known rare diseases, collectively affecting millions of people worldwide
            </p>


            <div class="mt-6">
                <a href="mailto:datahelixai@mibiome.com"
                    class="inline-flex items-center  bg-primary text-white  px-6 py-3 rounded-full font-semibold transition-colors duration-300">
                    Collaborate with us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ml-2 h-5 w-5"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>


    <!-- 
 <div class="card w-auto bg-base-100 drop-shadow-2xl">
        <figure>

            <img class="object-cover w-24 h-24 " src=" {% public_assets 'images/scientificconsulting.png' %}"
                alt="scientific_consulting image">

        </figure>
       
        <div class="card-body">
            <h2 class="card-title">Scientific Consulting</h2>
            <p>Our team of highly qualified PhD experts can help navigate your sequencing journey.</p>
            <div class="card-actions justify-end">
                <a class="btn btn-primary text-base-100"
                    href="https://wa.me/919650231515?text=Hello%20I%20came%20across%20your%20website%20and%20I%20want%20to%20know%20about%20">
                    Chat with us
                    <img class="w-[20px] h-[20px] " src=" {% public_assets 'images/svg/whatsapp.svg' %}"
                        alt="whatsapp svg">

                </a>
            </div>
        </div>
    </div> 


  
    <div class="card w-auto bg-base-100 drop-shadow-2xl">
        <figure>

            <img class="object-cover w-24 h-24 " src=" {% public_assets 'images/computationalanalytics.png' %}"
                alt="computational_analytics image">

        </figure>
    
        <div class="card-body">
            <h2 class="card-title">Computational Analytics</h2>
            <p>Data is the new oil' : Clive Humby (Mathematician) We use high-end computation software and hardware to
                get the most out of biological data.</p>
            <div class="card-actions justify-end">
                <a class="btn btn-primary text-base-100"
                    href="https://wa.me/919650231515?text=Hello%20I%20came%20across%20your%20website%20and%20I%20want%20to%20know%20about%20">
                    Chat with us
                    <img class="w-[20px] h-[20px] " src=" {% public_assets 'images/svg/whatsapp.svg' %}"
                        alt="whatsapp svg">

                </a>
            </div>
        </div>
    </div>  -->


</div>